<link rel="stylesheet" href="~/css/StyleSheet.css">


@{
    ViewData["Title"] = "Home Page";
}
<style> 
 body{
        background-image:url(https://images.unsplash.com/photo-1494697536454-6f39e2cc972d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
        background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;

    }
    .centerr{
        text-align: center;
    }
</style>
<div >
    <img class="center" src="~/img/sjtusnmu.jpg" />
    <br/>
    <h1 class="centerr">Най добрите коли под name Car Rent</h1>
</div>
