@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<html>
<head>
    <title>Политика на CarsRent</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            color: #555;
            font-size: 16px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <h1>Политика на CarsRent</h1>

    <h2>1. Събиране на лична информация</h2>
    <p>
        1.1. При посещение на уебсайта на CarsRent, можем да събираме лична информация от потребителите, като например имена, адреси, телефонни номера и електронни адреси.
    </p>
    <p>
        1.2. Събраната лична информация се използва...
    </p>

    <h2>2. Използване на бисквитки (cookies)</h2>
    <p>
        2.1. Уебсайтът на CarsRent използва бисквитки с цел подобряване на потребителското преживяване и функционалността на сайта.
    </p>
    <p>
        2.2. Бисквитките събират определена информация за предпочитанията и поведението на потребителите, с цел персонализиране на съдържанието и предлагане на по-добри услуги.
    </p>

    <h2>3. Споделяне на информация с трети страни</h2>
    <p>
        3.1. CarsRent не споделя лична информация на трети страни без ясното съгласие на потребителите, освен ако това не е задължително по закон или не е необходимо за предоставянето на услугите на сайта.
    </p>
    <p>
        3.2. Може да се споделят анонимизирани и агрегирани статистически данни за потребителите с цел анализ и подобрение на услугите на CarsRent.
    </p>

    <h2>4. Сигурност</h2>
    <p>
        4.1. CarsRent предприема подходящи технически и организационни мерки за защита на личната информация от неправомерен достъп, загуба или разкриване.
    </p>

    <h2>5. Промени в политиката</h2>
    <p>
        5.1. CarsRent си запазва правото да променя настоящата политика по всяко време. Актуалната версия ще бъде публикувана на този уебсайт.
    </p>
</body>
</html>
